{% extends "layout.html" %}
{% block content %}
<div class='container pb-4'>
  <h3 class='text-center'>{{basic_data.get('title')}}</h3>

  <div class='container-fluid'>
    {#
    ##### カード #####
    #}
    <div class="card-group">
      <div class='row'>
        {% for result in db['results'] %}
          {% set is_watched = True if result['properties']['Status']['select']['name']=='Watched' else False %}
          <div class='p-2 col-md-4'>
            <div class="card h-100 {{ 'border-success' if is_watched else 'border-primary' }}">
              <div class='row no-gutters'>
                <div class='col-md-4'>
                  <img class="bd-placeholder-img img-thumbnail"
                      src={{ result['properties']['Cover']['files'][0]['external']['url'] }}>
                </div>
                <div class='col-md-8'>
                  <div class="card-body">
                    <h5 class="card-title">{{ result['properties']['Title']['title'][0]['text']['content'] }}</h5>
                    {% if is_watched %}
                      <p class="card-text text-warning">{{ result['properties']['Rating']['select']['name'] }}</p>
                      <p class="card-text">
                        <small class="text-muted">
                          Last watched at {{ result['properties']['Last Watched at']['date']['start'] }}
                        </small>
                      </p>
                    {% else %}
                      <p>-</p>
                      <p class="card-text">
                        <small class="text-muted">Wanna watch</small>
                      </p>
                    {% endif %}
                    <a href='#' class='card-link'>編集</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
