{% extends "layout.html" %}
{% block content %}
<div class='container pb-4'>
  <h3 class='text-center'>{{basic_data.get('title')}}</h3>

  <div class='container-fluid'>
    {#
    ##### カード #####
    #}
    <div class='card-columns'>
      {% for movie in movies %}
        <div class="card bg-dark {{ 'border-secondary' if movie.has_watched else 'border-white' }}">
          <div class='row no-gutters'>
            {#
            ##### 映画ポスター #####
            #}
            <div class='col-md-4'>
              <img src={{ movie.cover_url }} class='img-fluid'>
            </div>
            {#
            ##### 映画内容 #####
            #}
            <div class='col-md-8'>
              <div class='card-body'>
                {#
                ##### 映画タイトル #####
                #}
                <h5 class='card-title text-light'>{{ movie.title }}</h5>
                {#
                ##### 映画評価 #####
                #}
                {% if movie.rating %}
                  <p class='card-text text-warning'>{{ '★'*movie.rating }}</p>
                {% else %}
                  <p class='card-text text-secondary'>-----</p>
                {% endif %}
                {#
                ##### 映画ジャンル #####
                #}
                {% if movie.genres %}
                  {% for genre in movie.genres %}
                    <div class='badge badge-info'>
                      {{ genre }}
                    </div>
                  {% endfor %}
                {% else %}
                  <div class='badge badge-secondary'>
                    ジャンル分けなし
                  </div>
                {% endif %}
                {#
                ##### 鑑賞済みか否か #####
                #}
                {% if movie.last_watched_at and movie.has_watched %}
                  <p class='card-text'>
                    <small class='text-muted'>
                      Last watched at {{ movie.last_watched_at }}
                    </small>
                  </p>
                {% elif movie.has_watched %}
                  <p class="card-text">
                    <small class="text-muted">Watched</small>
                  </p>
                {% else %}
                  <p class="card-text">
                    <small class="text-muted">To Watch</small>
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class='card-footer text-center'>
            <a href={{ url_for('index.edit', page_id=movie.id) }} class='card-link'>編集</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
