{% extends "layout.html" %}
{% block content %}
<div class='container pb-4'>
  <h3 class='text-center'>{{basic_data.get('title')}}</h3>

  <div class='container-fluid'>
    {% if movies.empty %}
      <h5 class='text-center'>該当なし</h5>
    {% else %}
      {#
      1. # カード #
      #}
      <div class='card-columns'>
        {% for movie in movies.itertuples() %}
          {% if movie.cover_url %}
            {% set has_mylist = True %}
          {% else %}
            {% set has_mylist = False %}
          {% endif %}
          <div class="card bg-dark {{ 'border-info' if has_mylist else 'border-light' }}">
            <div class='row no-gutters'>
              {#
              1. ## カード左側 ##
              #}
              <div class='col-md-4'>
                {#
                1. ### 映画ポスター ###
                #}
                <img class='img-fluid'
                    src={{ movie.cover_url if has_mylist else movie.poster_path }}>
                {#
                2. ### TMDb ID ###
                #}
                <small class='card-title text-muted'>TMDb ID:{{ movie.tmdb_id }}</small>
                {#
                3. ### 類似度 ###
                #}
                <p class="card-text
                    {% if 0.8 <= movie.point %}
                      text-danger
                    {% elif 0.5<=movie.point<0.8 %}
                      text-warning
                    {% elif 0.25<=movie.point<0.5 %}
                      text-info
                    {% else %}
                      text-muted
                    {% endif %}">
                  類似度：{{ movie.point|round(3) }}
                </p>
              </div>
              {#
              2. ## カード右側 ##
              #}
              <div class='col-md-8'>
                <div class='card-body'>
                  {#
                  1. ### 映画タイトル ###
                  #}
                  <h5 class='card-title text-light'>{{ movie.title_x }}</h5>
                  {# 該当の映画がnotionに追加されている場合 #}
                  {% if has_mylist %}
                    {#
                    2. ### 映画評価 ###
                    #}
                    {% if movie.rating %}
                      <p class='card-text text-warning'>{{ '★'*movie.rating|int }}</p>
                    {% else %}
                      <p class='card-text text-secondary'>-----</p>
                    {% endif %}
                    {#
                    3. ### 映画ジャンル ###
                    #}
                    {% if movie.genres %}
                      {% for genre in movie.genres %}
                        <div class='badge badge-info'>
                          {{ genre }}
                        </div>
                      {% endfor %}
                    {% else %}
                      <div class='badge badge-secondary'>
                        ジャンル分けなし
                      </div>
                    {% endif %}
                    {#
                    4. ### 鑑賞済みか否か ###
                    #}
                    {% if movie.last_watched_at and movie.has_watched %}
                      <p class='card-text'>
                        <small class='text-muted'>
                          Last watched at {{ movie.last_watched_at }}
                        </small>
                      </p>
                    {% elif movie.has_watched %}
                      <p class="card-text">
                        <small class="text-muted">Watched</small>
                      </p>
                    {% else %}
                      <p class="card-text">
                        <small class="text-muted">To Watch</small>
                      </p>
                    {% endif %}
                  {# 該当の映画がnotionにない場合 #}
                  {% else %}
                    {#
                    2. ### 公開日 ###
                    #}
                    <p class='card-text'>
                      <small class='text-muted'>
                        公開日：{{ movie.release_date }}
                      </small>
                    </p>
                    {#
                    3. ### ジャンル ###
                    #}
                    {% if movie.genre_ids %}
                      {% for genre in movie.genre_ids %}
                        <div class='badge badge-info'>
                          {{ genre }}
                        </div>
                      {% endfor %}
                    {% else %}
                      <div class='badge badge-secondary'>
                        ジャンル分けなし
                      </div>
                    {% endif %}
                    {#
                    4. ### 概要 ###
                    #}
                    <p class='card-text'>
                      <small class='text-muted' title="{{ movie.overview }}">
                        {{ movie.overview|truncate(54) }}
                      </small>
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class='card-footer text-center'>
              {% if has_mylist %}
                <a href={{ url_for('index.edit', page_id=movie.id) }} class='card-link'>編集</a>
              {% else %}
                {#<a href={{ url_for('index.edit', page_id=movie.id) }} class='card-link'>編集</a>#}
                追加ボタン
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
